//Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300&display=swap');
//Roboto Condensed
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
//Dancing Script
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300&display=swap');

$main-font: 'Roboto', sans-serif;
$second-font: 'Roboto Condensed', sans-serif;
$handw-font: 'Dancing Script';


.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $main-font
}

a,p{
    font-family: $second-font
}
